.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}



.photo-card {
    width: 250px;
    border: 1px solid;
    border-radius:10% ;

}

.photo {
    width: 250px;

    border-top-right-radius:10% ;
    border-top-left-radius:10% ;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.info-item {
    font-size: 7px;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 23px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.js-hiden {
    display: none;
}

.photo {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
  }
  
  .link {
    display: block;
    text-decoration: none;
    height: 100%;
    color: #000;
  }
  
  .link:hover {
    cursor: zoom-in;
  }